name: Nightly

on:
  # Allow manual runs.
  workflow_dispatch:
  # Also run on updates to this repo.
  push:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
  pull_request:
    paths-ignore:
      - '**/*.md'

env:
  PLATFORMS: linux/arm/v6,linux/arm/v7,linux/arm64/v8,linux/amd64
  PUSH_IMAGE: ${{ github.ref == 'refs/heads/main' }}

jobs:

  build-and-push:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        variant: [ "mailpile", "mailpile-multiuser" ]

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'

      - name: Docker Setup QEMU
        uses: docker/setup-qemu-action@v2

      - name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        if: ${{ env.PUSH_IMAGE == 'true' }}
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        if: ${{ env.PUSH_IMAGE == 'true' }}
        uses: docker/login-action@v2 
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Get current commit on mailpile submodule
        run: |
          echo MAILPILE_COMMIT=$(git rev-parse --short @:./mailpile) >> $GITHUB_ENV
          echo DATESTAMP=$(date +%Y.%m.%d) >> $GITHUB_ENV

      - name: Build and push ${{ matrix.variant }} Docker image
        uses: docker/build-push-action@v2
        with:
          file: Dockerfile.${{ matrix.variant }}
          build-args: MAILPILE_VERSION=nightly
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME || 'nobody' }}/${{ matrix.variant }}:nightly
            ${{ secrets.DOCKERHUB_USERNAME || 'nobody' }}/${{ matrix.variant }}:nightly-${{ env.DATESTAMP }}
            ${{ secrets.DOCKERHUB_USERNAME || 'nobody' }}/${{ matrix.variant }}:${{ env.MAILPILE_COMMIT }}
            ghcr.io/${{ github.repository_owner }}/${{ matrix.variant }}:nightly
            ghcr.io/${{ github.repository_owner }}/${{ matrix.variant }}:nightly-${{ env.DATESTAMP }}
            ghcr.io/${{ github.repository_owner }}/${{ matrix.variant }}:${{ env.MAILPILE_COMMIT }}
          platforms: ${{ env.PLATFORMS }}
          push: ${{ env.PUSH_IMAGE }}
